@media (min-width:1024px) and (max-width: 1280px) { 
body{
    background-color: #e3c78e;
    padding: 0;
    margin: 0;
}
.container{
    height: 20em;
}
.row{
    columns: 2;
    padding: 0;
    margin: 0;
    gap: 1px;
    position: relative;
} 
.row .col {
    position: relative;
}
.clssimage{
    z-index: 0;
    height: auto;
    width: 100%;
}
.col .layerTxt #titleTxt{
   font-family: "EB Garamond", serif;
   font-size: 2.5em;
   position: absolute;
   z-index: 1;
   top:  6em;
   left: 0.1em;
   text-align: center;
}
.col .layerTxt .btn-explore{
   font-family: "EB Garamond", serif;
   position: absolute;
   font-weight: 600;
   z-index: 2;
   width: 80%;
   height: 6%;
   top: 22em;
   left: 11%;
   border-radius: 10px;
   text-align: center;
   font-size: large;
   background-color: #62331f;
   color: white;
}
.col .layerTxt .qr-img{
    position: absolute;
    z-index: 2;
    top: 48em;
    left: 1.8em;
    width: 6.5em;
    height: 7em;
    padding: 0;
}
.col .layerTxt .logo-bottom{
    position: absolute;
    z-index: 2;
    top: 48em;
    left: 31em;
    width: 6.5em;
    height: 7em;
    padding: 0;

}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e3c78e;
    display: flex;
    z-index: 9999;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  .col .layerTxt .btn-explore:after {
    content: "";
    background: #f16b31;
    display: block;
    position: absolute;
    padding: 0 100% 10% 1%;
    border-radius: 10px;
    top: 1px;
    left: 0;
    opacity: 0;
    transition: all 0.8s
  }
  
  .col .layerTxt .btn-explore:active:after {
    padding: 0;
    margin: 0;
    opacity: 0.8;
    transition: 0s
  }











  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 
}
@media (min-width: 768px) and (max-width:1023.98px)  { 
    body{
        background-color: #e3c78e;
        padding: 0;
        margin: 0;
    }
    .container{
        height: 40em;
    }
    .col .layerTxt .qr-img{
        position: absolute;
        z-index: 2;
        top: 36.5em;
        left: 33em;
        width: 4.5em;
        height: 5em;
        padding: 0;
    }
    .col .layerTxt .logo-bottom{
        position: absolute;
        z-index: 2;
        top: 36.5em;
        left: 55.7em;
        width: 4.5em;
        height: 5em;
        padding: 0;
    
    }
    .clssimage{
        z-index: 0;
        height: auto;
        width: 100%;
    }
    .row{
        columns: 2;
        padding: 0;
        margin: 0;
        gap: 1px;
        position: relative;
    } 
    .col .layerTxt #titleTxt{
        font-family: "EB Garamond", serif;
        font-size: 1.8em;
        position: absolute;
        z-index: 1;
        top:  6em;
        left: 17em;
        text-align: center;
        padding: 1px;
     }
     .col .layerTxt .btn-explore{
        font-family: "EB Garamond", serif;
        position: absolute;
        font-weight: 600;
        z-index: 2;
        width: 30%;
        height: 6%;
        top: 16em;
        left: 60%;
        border-radius: 10px;
        text-align: center;
        font-size: large;
        background-color: #62331f;
        color: white;
     }
     .col .layerTxt .btn-explore:after {
        content: "";
        background: #f16b31;
        display: block;
        position: absolute;
        padding: 0 100% 10% 1%;
        border-radius: 10px;
        top: 1px;
        left: 0;
        opacity: 0;
        transition: all 0.8s
      }
      
      .col .layerTxt .btn-explore:active:after {
        padding: 0;
        margin: 0;
        opacity: 0.8;
        transition: 0s
      }
    
}
@media (min-width: 300px) and (max-width: 767.98px) { 
    body{
        background-color: #e3c78e;
        padding: 0;
        margin: 0;
    }
    .container{
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .row{
        display: grid;
        columns: 2;
        padding: 0;
        margin: 0;
        gap: 1px;
        position: relative;
        height: 10px;
    } 
    .col .layerTxt .qr-img{
        position: absolute;
        z-index: 200;
        top: 75em;
        width: 3.5em;
        height: 4em;
        padding: 0;
        display: block;
        left: 1em;
        
    }
    .col .layerTxt .logo-bottom{
        position: absolute;
        z-index: 200;
        top: 75em;
        width: 3.5em;
        height: 4em;
        padding: 0;
        display: block;
        right: 1em;
    }
    .col .layerTxt{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .clssimage{
        z-index: 0;
        height: 40em;
        width: 100%;
    }
    .row{
        columns: 2;
        padding: 0;
        margin: 0;
        gap: 1px;
        position: relative;
        width: 100%;
    } 
    .col .layerTxt #titleTxt{
        font-family: "EB Garamond", serif;
        font-size: 2em;
        position: absolute;
        z-index: 100;
        justify-content: center;
        padding: 0;
        top: 23em;
        left: 0%;
        font-weight: 800;
     }
     .col .layerTxt .btn-explore{
        font-family: "EB Garamond", serif;
        position: absolute;
        font-weight: 600;
        z-index: 2;
        width: 70%;
        height: 3em;
        top: 56em;
        left: 16%;
        border-radius: 10px;
        text-align: center;
        font-size: 1em;
        background-color: #62331f;
        color: white;
        padding: 0;
     }
     .col .layerTxt .btn-explore:after {
        background: #f16b31;
        display: block;
        position: absolute;
        padding: 0 100% 10% 1%;
        border-radius: 10px;
        top: 1px;
        left: 0;
        opacity: 0;
        transition: all 0.8s
      }
      
      .col .layerTxt .btn-explore:active:after {
        padding: 0;
        margin: 0;
        opacity: 0.8;
        transition: 0s
      }
    
 }