body{
    font-family: "EB Garamond", serif;
    padding: 0;
    margin: 0;
    height: 150vh;
}
.header{
    position: absolute;
    height: 5em;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.shop-cart{
    display: block;
}
.shop-cart #titleTxt{
    font-family: "EB Garamond", serif;
    font-size: 2em;
    float: left;
    margin: 35px ;
}
.header .dropdown-content #img-cart{
    display: block;
    height: 3em;
    width: 3em;
    float: right;
    margin: 35px;
}
.hori-line #line {
    display:flex;
    margin: 1.2em 0 0 0;
    padding: 0;
}
#line{
    border-bottom: 2px solid grey;
    width: 100%;
}
.container{
    width: 100%;
    display: block;
    padding: 0;
    justify-content: center;
    
}
.container .slogan{
    display: inline-block;
    font-family: "EB Garamond", serif;
    font-size: 2em;

}
.slogan{
    margin: 3em 0 0 5em;
}
.container .row{
    display: flex;
}
/*Row And Coloumn */
.row{
    columns: 4;
    gap: 2em;
    justify-content: center;
    display: flex;
}
.row .col{
    height: 20em;
    width: 15em;
    border: 3px solid black;
    border-radius: 7px;
}
.col{
    display: block;
    text-align: center;
}
/* col 1 */
.col .bg-img{
   margin: 5px auto;
}
.bg-img{
    display: block;
    background-color: #ffbd59;
    height: 10em;
    width: 14.5em;
    border-radius: 7px;
}
.bg-img #imgFood1 {
    display: flex;
    margin: auto;
    height: 8em;
    width: 8em;
}
.col #txt-food1{
    display: flex;
    margin:  0 auto;
    justify-content: center;
}
.col #txt-desc{
    display: flex;
    margin: 2px auto;
    justify-content: center;
}
.col #price-food1{
    display: flex;
    font-weight: bolder;
    margin: 2px auto;
    justify-content: center;
}
.col #note{
    display: flex;
    margin: 2px auto;
    justify-content: center;
}
.col .btn-food1{
    font-family: "EB Garamond", serif;
    background-color: #ff914d;
    height: 2em;
    width: 10em;
    margin: 2px auto;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    font-weight: 700;
}
.dropdown-food1{
    position: relative;
    display: inline-block;
}
#list-item{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#list-item a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#list-item a:hover {
    background-color: #f1f1f1
}
.dropdown-food1:hover #list-item {
    display: block;
}
.dropdown-food1:hover #list-item {
    background-color: #ff914d;
}

/* col 2 */
.bg-img #imgFood2 {
    display: flex;
    margin: auto;
    height: 8em;
    width: 8em;
}
.col #txt-food2{
    display: flex;
    margin:  0 auto;
    justify-content: center;
}
.col #price-food2{
    display: flex;
    font-weight: bolder;
    margin: 2px auto;
    justify-content: center;
}
.col .btn-food2{
    font-family: "EB Garamond", serif;
    background-color: #ff914d;
    height: 2em;
    width: 10em;
    margin: 2px auto;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    font-weight: 700;
}
#list-item2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#list-item2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#list-item2 a:hover {
    background-color: #f1f1f1
}
.dropdown-food2{
    position: relative;
    display: inline-block;
}
.dropdown-food2:hover #list-item2 {
    display: block;
}
.dropdown-food2:hover #list-item2 {
    background-color: #ff914d;
}
.btn-food2:disabled {
    display: none;
}
/* col 3 */
.bg-img #imgFood3 {
    display: flex;
    margin: auto;
    height: 8em;
    width: 8em;
}
.col #txt-food3{
    display: flex;
    margin:  0 auto;
    justify-content: center;
}
.col #price-food3{
    display: flex;
    font-weight: bolder;
    margin: 2px auto;
    justify-content: center;
}
.col .btn-food3{
    font-family: "EB Garamond", serif;
    background-color: #ff914d;
    height: 2em;
    width: 10em;
    margin: 2px auto;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    font-weight: 700;
}
#list-item3{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#list-item3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#list-item3 a:hover {
    background-color: #f1f1f1
}
.dropdown-food3{
    position: relative;
    display: inline-block;
}
.dropdown-food3:hover #list-item3 {
    display: block;
}
.dropdown-food3:hover #list-item3 {
    background-color: #ff914d;
}
.btn-food3:disabled {
    display: none;
}
/* col 4 */
.bg-img #imgFood4 {
    display: flex;
    margin: auto;
    height: 8em;
    width: 8em;
}
.col #txt-food4{
    display: flex;
    margin:  0 auto;
    justify-content: center;
}
.col #price-food4{
    display: flex;
    font-weight: bolder;
    margin: 2px auto;
    justify-content: center;
}
.col .btn-food4{
    font-family: "EB Garamond", serif;
    background-color: #ff914d;
    height: 2em;
    width: 10em;
    margin: 2px auto;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    font-weight: 700;
}
#list-item4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#list-item4 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#list-item4 a:hover {
    background-color: #f1f1f1
}
.dropdown-food4{
    position: relative;
    display: inline-block;
}
.dropdown-food4:hover #list-item4 {
    display: block;
}
.dropdown-food4:hover #list-item4 {
    background-color: #ff914d;
}
.btn-food4:disabled {
    display: none;
}
/* Shopping cart dropdown*/
#img-cart{
    border: none;
    cursor: pointer;
}
.dropdown-content #silang{
    height: 1em;
    width: 1em;
    float: right;
    z-index: 10;
    margin: 3.8em 18em 0 0;
    cursor: pointer;
    display: none;
}
#list-cart{
  display: none;
  position: absolute;
  background-color: #ff914d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
}
.dropdown-content #list-cart{
right: 5em;
top: 5.5em;
height: 29em;
width: 21em;
margin: 0;
padding: 0;
}
#list-cart .li-list{
    display: flex;
    
}
.li-list{
    color: black;
    padding:0;
    width: 100%;
    height: 5em;
    display: block;
    margin: 0;
    border-radius: 7px;
  }
.dropdown-content #list-cart .li-list:hover {
    background-color: #f1f1f1
}
 .image{
    height: 3.5em;
    width: 3.5em;
    position: absolute;
    left: 7px;
    display: none;
    padding: 0;
    margin: 0.5em 0 0 0;
}
.dropdown-item {
    position: absolute ;
    left: 6em;
    margin: 1.3em 0 0 0;
    font-size: 0.9em;
    font-weight: 600;

}
.total-item{
    height: 2em;
    width: 3em;
    position: absolute;
    margin: 3.5em 0 0 20em;
    display: none;
}
/* Notif For Cart*/
.notif{
    position: absolute;
    border-radius: 100%;
    height: 1.5em;
    width: 1.5em;
    background-color: #ff914d;
    z-index: 100;
    margin: 1.7em 0 0 58em;
    display: none;
    text-align: center;
    font-weight: 700;
} 
/*Button for submit*/
.btnSubmit{
    height: 3em;
    width: 10em;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    margin: 1em 0 0 7em;
    color: white;
    font-weight: 800;
} 
/*Footer*/
footer{
    width: 80%;
    height: 2px;
    background-color: gray;
    opacity: 0.6;
    position: absolute;
    margin: 5em 0 0 8em;
    text-align: center;
}
.footer-text p{
    opacity: 1;
    color: #ff914d;
    font-weight: 500;
}

@media (min-width: 360px) and (max-width: 767.98px) { 
    .header{
        position: absolute;
        height: 4em;
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }
    .shop-cart{
        margin: 0;
    }
    .shop-cart #titleTxt{
        font-size: 25px;
        float: left;
        margin: 10% 0 0 5px;
    }
    .header .dropdown-content #img-cart{
        display: block;
        height: 2.2em;
        width: 2.2em;
        float: right;
        margin: 35px 8px 0 0;
        
    }
    .header{
        width: 100%;
        
    }
    .hori-line #line {
        display:flex;
        margin: 1.5em 0 0 0;
        padding: 10px 0 0 0;
    }
    #line{
        border-bottom: 2px solid grey;
        width: 100%;
    }
    .container .slogan{
        display: inline-block;
        font-family: "EB Garamond", serif;
        font-size: 1em;
        text-align: center;
    
    }
    .slogan{
        margin: 5em 0 0 0;
    }
    #list-cart{
        display: none;
        position: absolute;
        background-color: #ff914d;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 0;
      }
      .dropdown-content #list-cart{
      right: 2.8em;
      top: 5em;
      height: 25em;
      width: 16em;
      margin: 0;
      padding: 0;
      }
      .dropdown-content #silang{
        height: 1em;
        width: 1em;
        float: right;
        z-index: 10;
        margin: 0 19.5em 0 0;
        cursor: pointer;
        display: none;
    }
    
#list-cart .li-list{
    display: flex;
    
}
.li-list{
    color: black;
    padding:0;
    width: 100%;
    height: 4.2em;
    display: block;
    margin: 0;
    border-radius: 7px;
  }
  .btnSubmit{
    height: 3em;
    width: 95%;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    margin: 1em 0 0 5px;
    color: white;
    font-weight: 800;
} 
.row{
    columns: 1;
    padding:10px 0 10px 0;
    justify-content: center;
    display: grid;
}
.row .col{
    height: 20em;
    width: 15em;
    border: 3px solid black;
    border-radius: 7px;
    margin: 20px auto 0 auto;
}
.col{
    display: block;
    text-align: center;
}
.container .row{
    display: block;
    
}
footer{
    width: 80%;
    height: 2px;
    background-color: gray;
    opacity: 0.6;
    position: absolute;
    margin: 2em 0 0 2.7em;
    text-align: center;
}
.footer-text p{
    opacity: 1;
    color: #ff914d;
    font-weight: 500;
}
.total-item{
    height: 1em;
    width: 2.5em;
    position: absolute;
    margin: 3.3em 0 0 15em;
    display: none;
}
.notif{
    position: absolute;
    border-radius: 100%;
    height: 1.2em;
    width: 1.2em;
    background-color: #ff914d;
    z-index: 100;
    margin: 1.7em 0 0 10em;
    display: none;
    text-align: center;
    font-weight: 700;
    
} 
    
 }
